node_modules/
**/node_modules/
.nx/
**/.nx/
.turbo/
dist/
.cache/
**/dist/
**/build/
.venv/
venv/
__pycache__/
**/.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
terraform-provider-*
*.exe
.env
.DS_Store
Thumbs.db
